table#all: tbody
    each item, index in items
        - let currentCategory = item.category
        - if (index === 0)
            - let prevCategory = currentCategory

        - if (currentCategory !== prevCategory)
            tr: td.heading(colspan='2') #[a(name=item.category)] #{item.category}
            a(name= item.category)
        tr.row(class= item.inStock < item.lowAt ? 'low' : '')
            td.id= item._id
            td.name(data-name= item._id)= item.name
            td.stock= item.inStock

        - prevCategory = item.category

    else
        tr
            td There aren't any items yet.
            td: button.new--open Add one now
