table#all: tbody
    each item, index in items
        - let currentCategory = item.category
        - if (index === 0)
            - let prevCategory = null

        - if (currentCategory !== prevCategory)
            a(name= item.category)
            tr: td.heading(colspan='4')= item.category
        tr.row(class={ "row--low": item.inStock < item.lowAt, "row--striped": index % 2 === 0 })
            td.id= item._id
            td.name= item.name
            td.stock= item.inStock
            // td.delete: button X #[span #{item._id}]
            button.delete X #[span #{item._id}]

        - prevCategory = item.category

    else
        tr
            td There aren't any items yet.
            td: button.new--open Add one now
