head
    link(type='text/css', rel='stylesheet', href='/styles.css')
body
    h1.section-title Inventory for #{date.toDateString()}
    table#day-record
        thead
            th Item
            th Start
            th Added
            th Removed
            th End
        tbody
        each record in records
            td= record.name
            td= (record.log.balance - record.log.added + record.log.removed)
            td= record.log.added
            td= record.log.removed
            td= record.log.balance
    button.btn--circle: img(src='/icons/print.png')