head
    link(type='text/css', rel='stylesheet', href='styles.css')
body
    nav
        ul
            li
    main
        header
            h1 #{department} Inventory
            p #{date} #[span Manager : Crystal McIntosh]
        table: tbody
            each item in items
                - var currentCategory = item.category
                
                - if (currentCategory !== prevCategory)
                    tr:td(colspan='2')= item.category
                    
                td= item.name
                td= item.inStock
                
                - var prevCategory = item.category
            
            else
                tr
                    td There aren't any items yet.
                    td: button.new--open Add one now
                    
    #new.modal
        span.modal__close-button.new--close X
        section.modal__body
            h1.modal__header New Item
            form#new-item
                .form-group
                    label(for='category') Category
                    input(name='category' list='categories')
                    datalist(id='categories')
                    //   each category in categories
                            option= category
                .form-group
                    label(for='name') Name
                    input(name='name')
                .form-group
                    label(for='inStock') In Stock
                    input(name='inStock' type='number' min=0)
                .form-group
                    label(for='lowAt') Low At
                    input(name='lowAt' type='number' min=0)
                button.submit ADD

    #new-multi.modal
        span.modal__close-button.new--close X
        section.modal__body
            h1.modal__header New Item
            form#new-item-multi
                .form-group
                    label(for='category') Category
                    input(name='category' list='categories')
                    datalist(id='categories')
                    //   each category in categories
                            option= category
                .form-group
                    label(for='name') Name
                    input(name='name')
                .form-group
                    label(for='inStock') In Stock
                    input(name='inStock' type='number' min=0)
                .form-group
                    label(for='lowAt') Low At
                    input(name='lowAt' type='number' min=0)
                    
                    
                    
    script(src='app.js')
