- let currentCategory = ''
- let prevCategory = null
- let row = 1

#active-id.hidden
#all
    each category in allItems
        - let categoryName = category._id
        a(name=categoryName)
        table
            thead: th.heading(colspan='4')= categoryName
            thead: tr
                th Name
                th Last Modified
                th In Stock
            each item, index in category.items
                tr.row(class={ "row--low": item.inStock < item.lowAt, "row--striped": index % 2 == 0 })
                    - let lastModified = item.lastModified ? item.lastModified.toUTCString().substr(0, 16) : ''
                    td.id.hidden= item._id
                    td.low.hidden= item.lowAt
                    td.category.hidden= categoryName
                    
                    td.name= item.name
                    td.modified= lastModified
                    td.stock= item.inStock
    else
        .text-center
            p.text-lg There aren't any items yet.
            button.center-block.btn.new--open Add one now
