- let logTooltip    = 'Log Multiple Items (L)'
- let newTooltip    = 'Add Single Item (N)'
- let multiTooltip  = 'Add multiple items to a category (M)'
- let filterTooltip = 'Filter low items'
- let printTooltip  = 'Get Records For Date x (P)'
- let helpTooltip   = 'Help (H)'

nav#main-nav
    .list-container
        ul
            each category in categories
                li: a(href='#' + category)= category


.btn-group
    button.btn--circle.logs--open.tooltip
        span.tooltip-text= logTooltip
        span L
    button.btn--circle.new--open.tooltip
        span.tooltip-text= newTooltip
        span +
    button.btn--circle.new-multi--open.tooltip
        span.tooltip-text= multiTooltip
        span *
    button.btn--circle.tooltip.legend--toggle
        span.tooltip-text= helpTooltip
        span ?
    button.btn--circle.tooltip.print--open
        span.tooltip-text= printTooltip
        span P
    button#low-only.btn--circle.tooltip
        span.tooltip-text= filterTooltip
        span !
