- let currentCategory = ''
- let prevCategory = null
- let row = 1

table#all: tbody
    each item, index in items
        - currentCategory = item.category
        - if (currentCategory !== prevCategory)
            - row = 1
            tr: td.anchor(colspan='4'): a(name=currentCategory)
            tr: td.heading(colspan='4')= item.category
            tr.thead
                td.th Name
                td.th Last Modified
                td.th In Stock
        tr.row(class={ "row--low": item.inStock < item.lowAt, "row--striped": row % 2 === 0 })
            - let lastModified = item.lastModified ? String(item.lastModified).substr(0, 16) : ''
            td.id= item._id
            td.name= item.name
            td.modified= lastModified
            td.stock= item.inStock
        - prevCategory = item.category
        - row ++
    else
        tr
            td There aren't any items yet.
            td: button.new--open Add one now
