#active-id.hidden= item._id
#active-name.hidden= item.name
#active-log-id.hidden
table#item
    thead
        th
        th Added
        th Removed
        th Comments
    tbody
        each log, index in item.log
            - let timestamp  = log.date.getTime() + 1000
            - let datestring = `${new Date(timestamp).toDateString()}`.substr(0, 16)
            tr.row(class= index % 2 == 0 ? 'row--striped' : '')
                td.id.hidden= log._id
                td.date= datestring
                td.added(class={"bolded": log.added > log.removed})= log.added
                td.removed(class={"bolded": log.added < log.removed})= log.removed
                td.comments= log.comments
